.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font: var(--text-body-sm);
    color: var(--text-body);
  }

  input[required]:not(:focus) + .error,
  textarea[required]:not(:focus) + .error {
    display: none;
  }

  input,
  textarea {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: var(--text-body);
    font: var(--text-body-md);

    &[required] + .error {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      font: var(--text-body-xs);
      color: var(--feedback-danger);

      svg {
        height: 1.15rem;
        width: 1.15rem;
      }
    }

    &:valid + .error {
      display: none;
    }
  }

  input:focus:invalid,
  textarea:focus:invalid {
    border-color: var(--feedback-danger);
  }

  input:focus,
  textarea:focus {
    border-color: var(--brand-light);
    outline: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--input-placeholder);
  }

  textarea {
    resize: vertical;
    min-height: 10rem;
    max-height: 20rem;
  }
}

.event-description-wrapper {
  grid-area: description;
  width: 100%;
}
