aside {
  padding: 2rem;
  border-radius: 12px;
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & img {
    width: 45.85px;
    height: 48px;
  }

  & .aside-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .aside-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h2 {
      font: var(--text-logo);
      color: var(--accent-pink);
    }

    p {
      font: var(--text-body-md);
      color: var(--text-body);
    }
  }
}
