.main-container {
   h1{
    font: var(--text-heading-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }
}

form fieldset {
  border: none;
  margin-bottom: 2.5rem; 
  /* Pode ter algo melhor que esse margin-bottom */
}

form > .section-about {
  display: grid;
  grid-template-areas: 
    'about about'
    'title title'
    'start end'
    'type local'
    'description description';
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  .event-title-wrapper {
    grid-area: title;
    display: flex;
    flex-direction: column;
  }

  .start-end-wrapper {
    grid-area: start / start / end / end;
    display: flex;
    align-items: center;
    gap: 1rem;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      input {
        color: var(--input-text);
      }
    }
  }
}

form .section-custom{
  display: flex;
  flex-direction: column;

  .legend-wrapper{
    margin-bottom: 1.5rem;
  }
}
